In [1]:
from IPython.display import Image
from IPython.core.display import HTML 
Image(url= "https://upload.wikimedia.org/wikipedia/commons/thumb/7/76/Novel_Coronavirus_SARS-CoV-2.jpg/600px-Novel_Coronavirus_SARS-CoV-2.jpg")

In [2]:
import pandas as pd

https://github.com/CSSEGISandData/COVID-19

In [5]:
date = '03-23-2020'

daily_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/' + date + '.csv'

cases_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
recovered_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'
deaths_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'

In [6]:
cases = pd.read_csv(cases_url)
recovered = pd.read_csv(recovered_url)
deaths = pd.read_csv(deaths_url)
daily = pd.read_csv(daily_url)

In [7]:
cases[cases['Province/State'] == 'Washington']

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
98,Washington,US,47.4009,-121.4905,0,0,0,0,0,0,...,572,643,904,1076,1014,1376,1524,1793,1996,1996.0

In [11]:
daily.head()

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
0,45001.0,Abbeville,South Carolina,US,2020-03-23 23:19:34,34.223334,-82.461707,1,0,0,0,"Abbeville, South Carolina, US"
1,22001.0,Acadia,Louisiana,US,2020-03-23 23:19:34,30.295065,-92.414197,1,0,0,0,"Acadia, Louisiana, US"
2,51001.0,Accomack,Virginia,US,2020-03-23 23:19:34,37.767072,-75.632346,1,0,0,0,"Accomack, Virginia, US"
3,16001.0,Ada,Idaho,US,2020-03-23 23:19:34,43.452658,-116.241552,13,0,0,0,"Ada, Idaho, US"
4,19001.0,Adair,Iowa,US,2020-03-23 23:19:34,41.330756,-94.471059,1,0,0,0,"Adair, Iowa, US"

In [14]:
print("Total Confirmed Cases in Washington: ",daily[daily['Province_State'] == 'Washington'].Confirmed.sum())
daily[daily['Province_State'] == 'Washington'].head()

Total Confirmed Cases in Washington:  2221

,FIPS,Admin2,Province_State,Country_Region,Last_Update,Lat,Long_,Confirmed,Deaths,Recovered,Active,Combined_Key
18,53001.0,Adams,Washington,US,2020-03-23 23:19:34,46.982998,-118.560173,1,0,0,0,"Adams, Washington, US"
94,53003.0,Asotin,Washington,US,2020-03-23 23:19:34,46.188944,-117.202285,0,0,0,0,"Asotin, Washington, US"
188,53005.0,Benton,Washington,US,2020-03-23 23:19:34,46.239470,-119.512083,9,3,0,0,"Benton, Washington, US"
468,53007.0,Chelan,Washington,US,2020-03-23 23:19:34,47.870461,-120.617396,6,0,0,0,"Chelan, Washington, US"
516,53009.0,Clallam,Washington,US,2020-03-23 23:19:34,48.047546,-123.922632,4,0,0,0,"Clallam, Washington, US"