# SQL Made Easy
https://pythonspot.com/tag/sql/

![](https://pythonspot-9329.kxcdn.com/wp-content/uploads/2016/08/dbms-300x131.png.webp)

### SQL Create and Incert

In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

# https://pythonspot.com/tag/sql/

import sqlite3 as lite
import sys

con = lite.connect('user.db')

with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Users(Id INT, Name TEXT)")
    cur.execute("INSERT INTO Users VALUES(1, 'Michelle')")
    cur.execute("INSERT INTO Users VALUES(2, 'Sonya')")
    cur.execute("INSERT INTO Users VALUES(3, 'Greg')")

This will output all data in the Users table from the database:

In [3]:
with con:    
 
    cur = con.cursor()    
    cur.execute("SELECT * FROM Users")
 
    rows = cur.fetchall()
 
    for row in rows:
        print (row)

(1, 'Michelle')
(2, 'Sonya')
(3, 'Greg')

### Common Database Queries

In [7]:
print(cur.execute("SELECT name FROM Users").fetchall())

[('Michelle',), ('Sonya',), ('Greg',)]

In [8]:
print(cur.execute("SELECT * FROM Users WHERE id = 2").fetchall())

[(2, 'Sonya')]

In [6]:
print(cur.execute("SELECT count(*) FROM Users").fetchall())

[(3,)]