# SQL Made Easy
https://pythonspot.com/tag/sql/

![](https://pythonspot-9329.kxcdn.com/wp-content/uploads/2016/08/dbms-300x131.png.webp)

### SQL Create and Incert

In [1]:
#!/usr/bin/python
# -*- coding: utf-8 -*-

# https://pythonspot.com/tag/sql/

import sqlite3 as lite
import sys

con = lite.connect('user.db')

with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Users(Id INT, Name TEXT)")
    cur.execute("INSERT INTO Users VALUES(1, 'Michelle')")
    cur.execute("INSERT INTO Users VALUES(2, 'Sonya')")
    cur.execute("INSERT INTO Users VALUES(3, 'Greg')")

This will output all data in the Users table from the database:

In [2]:
with con:    
 
    cur = con.cursor()    
    cur.execute("SELECT * FROM Users")
 
    rows = cur.fetchall()
 
    for row in rows:
        print (row)

(1, 'Michelle')
(2, 'Sonya')
(3, 'Greg')

### Common Database Queries

In [3]:
print(cur.execute("SELECT name FROM Users").fetchall())

[('Michelle',), ('Sonya',), ('Greg',)]

In [4]:
print(cur.execute("SELECT * FROM Users WHERE id = 2").fetchall())

[(2, 'Sonya')]

In [5]:
print(cur.execute("SELECT count(*) FROM Users").fetchall())

[(3,)]

We can structure our data across multiple tables. This keeps our data structured, fast and organized.  If we would have a single table to store everything, we would quickly have a big chaotic mess. What we will do is create multiple tables and use them in a combination. We create two tables:
1. Users
2. Jobs

__Create Tables__

In [7]:
con = lite.connect('system.db')

with con:
    cur = con.cursor()
    cur.execute("CREATE TABLE Users(Id INT, Name TEXT)")
    cur.execute("INSERT INTO Users VALUES(1,'Michelle')")
    cur.execute("INSERT INTO Users VALUES(2,'Howard')")
    cur.execute("INSERT INTO Users VALUES(3,'Greg')")
 
    cur.execute("CREATE TABLE Jobs(Id INT, Uid INT, Profession TEXT)")
    cur.execute("INSERT INTO Jobs VALUES(1,1,'Scientist')")
    cur.execute("INSERT INTO Jobs VALUES(2,2,'Marketeer')")
    cur.execute("INSERT INTO Jobs VALUES(3,3,'Developer')")

In [12]:
cur.execute("SELECT users.name, jobs.profession FROM jobs INNER JOIN users ON users.ID = jobs.uid")
cur.fetchall()

[('Michelle', 'Scientist'), ('Howard', 'Marketeer'), ('Greg', 'Developer')]

In [13]:
from sqlalchemy import *
from sqlalchemy import create_engine, ForeignKey
from sqlalchemy import Column, Date, Integer, String
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship, backref
 
engine = create_engine('sqlite:///student.db', echo=True)
Base = declarative_base()
 
########################################################################
class Student(Base):
    """"""
    __tablename__ = "student"
 
    id = Column(Integer, primary_key=True)
    username = Column(String)
    firstname = Column(String)
    lastname = Column(String)
    university = Column(String)
 
    #----------------------------------------------------------------------
    def __init__(self, username, firstname, lastname, university):
        """"""
        self.username = username
        self.firstname = firstname
        self.lastname = lastname
        self.university = university
 
# create tables
Base.metadata.create_all(engine)

2019-01-28 08:16:28,986 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-28 08:16:28,988 INFO sqlalchemy.engine.base.Engine ()
2019-01-28 08:16:28,989 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-28 08:16:28,990 INFO sqlalchemy.engine.base.Engine ()
2019-01-28 08:16:28,992 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("student")
2019-01-28 08:16:28,997 INFO sqlalchemy.engine.base.Engine ()
2019-01-28 08:16:29,000 INFO sqlalchemy.engine.base.Engine
CREATE TABLE student (
	id INTEGER NOT NULL,
	username VARCHAR,
	firstname VARCHAR,
	lastname VARCHAR,
	university VARCHAR,
	PRIMARY KEY (id)
)


2019-01-28 08:16:29,002 INFO sqlalchemy.engine.base.Engine ()
2019-01-28 08:16:29,030 INFO sqlalchemy.engine.base.Engine COMMIT

In [15]:
import datetime
 
engine = create_engine('sqlite:///student.db', echo=True)
 
# create a Session
Session = sessionmaker(bind=engine)
session = Session()
 
# Create objects  
user = Student("james","James","Boogie","MIT")
session.add(user)
 
user = Student("lara","Lara","Miami","UU")
session.add(user)
 
user = Student("eric","Eric","York","Stanford")
session.add(user)
 
# commit the record the database
session.commit()

2019-01-28 08:17:21,308 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-28 08:17:21,309 INFO sqlalchemy.engine.base.Engine ()
2019-01-28 08:17:21,310 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-28 08:17:21,311 INFO sqlalchemy.engine.base.Engine ()
2019-01-28 08:17:21,312 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-28 08:17:21,316 INFO sqlalchemy.engine.base.Engine INSERT INTO student (username, firstname, lastname, university) VALUES (?, ?, ?, ?)
2019-01-28 08:17:21,318 INFO sqlalchemy.engine.base.Engine ('james', 'James', 'Boogie', 'MIT')
2019-01-28 08:17:21,321 INFO sqlalchemy.engine.base.Engine INSERT INTO student (username, firstname, lastname, university) VALUES (?, ?, ?, ?)
2019-01-28 08:17:21,322 INFO sqlalchemy.engine.base.Engine ('lara', 'Lara', 'Miami', 'UU')
2019-01-28 08:17:21,323 INFO sqlalchemy.engine.base.Engine INSERT INTO student (username, firstname, lastname, university) VALUES (?, ?, ?, ?)
2019-01-28 08:17:21,324 INFO sqlalchemy.engine.base.Engine ('eric', 'Eric', 'York', 'Stanford')
2019-01-28 08:17:21,326 INFO sqlalchemy.engine.base.Engine COMMIT

In [17]:
engine = create_engine('sqlite:///student.db', echo=True)
 
# create a Session
Session = sessionmaker(bind=engine)
session = Session()
 
# Create objects  
for student in session.query(Student).order_by(Student.id):
    print (student.firstname, student.lastname)

2019-01-28 08:17:47,563 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2019-01-28 08:17:47,564 INFO sqlalchemy.engine.base.Engine ()
2019-01-28 08:17:47,565 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2019-01-28 08:17:47,566 INFO sqlalchemy.engine.base.Engine ()
2019-01-28 08:17:47,568 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2019-01-28 08:17:47,570 INFO sqlalchemy.engine.base.Engine SELECT student.id AS student_id, student.username AS student_username, student.firstname AS student_firstname, student.lastname AS student_lastname, student.university AS student_university
FROM student ORDER BY student.id
2019-01-28 08:17:47,571 INFO sqlalchemy.engine.base.Engine ()
James Boogie
Lara Miami
Eric York

In [18]:
# Select objects  
for student in session.query(Student).filter(Student.firstname == 'Eric'):
    print (student.firstname, student.lastname)

2019-01-28 08:18:28,383 INFO sqlalchemy.engine.base.Engine SELECT student.id AS student_id, student.username AS student_username, student.firstname AS student_firstname, student.lastname AS student_lastname, student.university AS student_university
FROM student
WHERE student.firstname = ?
2019-01-28 08:18:28,385 INFO sqlalchemy.engine.base.Engine ('Eric',)
Eric York